@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 10px;
    --main-txt-clr: #cac7ff;
    --box-shadow-clr: rgba(202, 199, 255, 0.6);
    --box-shadow-clr-2: rgba(202, 199, 255, 0.4);
    --white-dim: rgba(255, 255, 255, 0.2);
    --bkg-filter: blur(2px) saturate(180%);
}

::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}

::-webkit-scrollbar-track {
    background-color: #8DB8F1;
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #58629b;
    border-radius: 100vw;
}

body {
    background-image:
        linear-gradient(rgba(0, 8, 51, 0.6), rgba(0, 8, 51, 0.6)),
        url(./images/night_sky.jpg);
    background-position: center;
    background-size: cover;
}

#content {
    width: 70%;
    max-width: 50rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1rem;
}


/*--------------------------------------------------/**Search Bar**/

.search-bar {
    background-color: var(--white-dim);
    width: 100%;
    max-width: 50rem;
    border-radius: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.4rem 1.8rem;
    backdrop-filter: var(--bkg-filter);
}

.search-bar input {
    background-color: transparent;
    color: var(--main-txt-clr);
    outline: none;
    border: none;
    flex: 1;
    font-size: 2rem;
    width: 100%;
}

::placeholder {
    color: var(--main-txt-clr);
}

.search-bar button {
    cursor: pointer;
    border: none;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #58629b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: .1s scale;
}

.search-bar img {
    width: 70%;
    transition: .1s scale;
    filter: invert(86%) sepia(39%) saturate(3418%) hue-rotate(192deg) brightness(107%) contrast(105%);
}

.search-bar button:hover {
    scale: 1.1;
}

.search-bar button:hover img {
    scale: 0.7;
}

.search-bar button:active {
    scale: .95;
}

/*--------------------------------------------------/**Current State**/

.current-state {
    margin-top: 2.2rem;
    text-align: center;
    color: var(--main-txt-clr);
}

h1 {
    font-weight: 400;
    font-size: 2.4rem;
}

.location-name {
    font-size: 3.6rem;
}

.current-temp {
    font-size: 7.2rem;
    font-weight: 200;
    line-height: 9rem;
}

/*--------------------------------------------------/**Hourly Forecast**/

.hourly-forecast {
    user-select: none;
    display: flex;
    color: var(--main-txt-clr);
    text-align: center;
    background-color: var(--white-dim);
    backdrop-filter: var(--bkg-filter);
    padding: 1.5rem 1.5rem 0.4rem;
    border-radius: 1.2rem;
    margin-top: 2.2rem;
    width: 87.5%;
    overflow: auto;
}

p {
    font-size: 1.8rem;
}

.hourly-forecast img {
    width: 4.5rem;
}

.hourly-forecast::-webkit-scrollbar {
    width: 1rem;
    height: 1.8rem;
}

.hourly-forecast::-webkit-scrollbar-track {
    background-color: #8db8f100;
    margin-block: 1.2rem;
    border-radius: 100vw;
}

.hourly-forecast::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: #58629b;
    border-radius: 100vw;
}

/*--------------------------------------------------/**Daily Forecast**/

.daily-forecast {
    margin-top: 2.2rem;
    background-color: var(--white-dim);
    color: var(--main-txt-clr);
    backdrop-filter: var(--bkg-filter);
    width: 87.5%;
    border-radius: 1.2rem;
    padding: 1.5rem;
}

.header {
    display: flex;
    align-items: center;
    gap: .4rem;
    opacity: 0.68;
    box-shadow: 0 .1rem var(--box-shadow-clr);
}

.header .calendar {
    width: 2rem;
}

.calendar img {
    width: 100%;
    filter: invert(86%) sepia(39%) saturate(3418%) hue-rotate(192deg) brightness(107%) contrast(105%);
}

.header p {
    font-size: 1.4rem;
    line-height: 1px;
}

.days img {
    width: 4.5rem;
}

.day {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    padding: 1.5rem 0 0;
}

.day:not(:last-child) {
    box-shadow: 0 .1rem var(--box-shadow-clr-2);
    padding: 1.5rem 0 1.5rem;
}

.day>* {
    display: flex;
    align-items: center;
}

.day>*:not(:first-child) {
    justify-content: center;
}

.gradient div {
    background-image: linear-gradient(90deg, rgba(0, 246, 255, 1) 0%, rgba(128, 225, 128, 1) 47%, rgba(255, 204, 0, 1) 100%);
    height: .6rem;
    width: 100%;
    border-radius: .6rem;
    opacity: .55;
}